body{
  background-color:#ccc;
  
}

h1{
  text-align:center;
}
#img-div{
  background-color:#fff;
}
figcaption{
  text-align:center;
  padding: 2%;
}

img{
  position:relative;
  left:350px;
  border:5px solid #fff;
}
#main h2,h3,p{
  text-align:center;
}
